[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
click = "*"
sqlalchemy = "*"
questionary = "*"
fire = "*"

[dev-packages]

[requires]
python_version = "3.9"
